@model SimpleCRUD.Models.ViewModels.AddStudentViewModel

@{
}

<form method="post" action="Add">
    <div class="mb-2 col-md-6">
        <h4 style="text-align:center">Student Entry Form</h4>
        </div>
    <div class="mb-2 col-md-6">
        <label for="roll" class="form-label">Roll</label>
        <input type="number" class="form-control" id="roll" asp-for="Roll">
    </div>
    <div class="mb-2 col-md-6">
        <label for="fullName" class="form-label">Full Name</label>
        <input type="text" class="form-control" id="fullName" asp-for="Name">
    </div>
    <div class="mb-2 col-md-6">
        <label for="PhoneNumber" class="form-label">PhoneNumber</label>
        <input type="text" class="form-control" id="Password" asp-for="PhoneNumber">
    </div>
    <div class="mb-2 col-md-6">
        <label for="Email" class="form-label">Email Address</label>
        <input type="email" class="form-control" id="Password" asp-for="Email">
    </div>
    <div class="mb-2 col-md-6">
        <label for="DOB" class="form-label">Date of Birth</label>
        <input type="date" class="form-control" id="DOB" asp-for="DOB">
    </div>
    <div class="mb-2 col-md-6">
        <label for="Department" class="form-label">Department</label>
        <input type="text" class="form-control" id="Department" asp-for="Department">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>